@use "sass:map";
@use './custom-theme.scss' as theme;

$marmicode-primary-color: map.get(theme.$marmicode-purple, 500);
$marmicode-accent-color: map.get(theme.$marmicode-accent, 500);

body {
  --marmicode-primary-color: #{$marmicode-primary-color};
  --marmicode-accent-color: #{$marmicode-accent-color};
}

html, body {
  height: 100%;
}
body {
  /* @hack: setting background color to toolbar color to affect ios status bar color. */
  background-color: $marmicode-primary-color;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mc-primary-text {
  color: $marmicode-primary-color;
}

.mc-overlay-backdrop {
  background-color: rgba(0, 0, 0, .23);
  backdrop-filter: blur(5px);
  transition: all .2s ease-out;
}

.mc-flex-column {
  display: flex;
  flex-direction: column;
}

.mc-flex-row {
  display: flex !important;
  flex-direction: row;
}

@media screen and (max-width: 599px) {
  .mc-hide.mc-show-gt-xs {
    display: none !important;
  }
}

@media screen and (min-width: 600px) {
  .mc-hide-gt-xs {
    display: none !important;
  }
}

@media screen and (max-width: 959px) {
  .mc-hide.mc-show-gt-sm {
    display: none !important;
  }
}

@media screen and (min-width: 960px) {
  .mc-flex-row-gt-sm {
    flex-direction: row;
  }

  .mc-hide-gt-sm {
    display: none !important;
  }
}
